html, body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #FF8686;
}

canvas {
  background-color: #FF4C4C;
  max-width: 100%
}

.narcissus h1 {
  margin-top: 0
}

.noheight {
  height: 0;
}

.footer {
  width: 100%;
  text-align: center;

  color: #724C4C;
  /*background-color: #FFF8E1;*/
}

.down {
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.burritolike {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8%;
  padding-top: 8%;

}

.narcissus {
  text-align: left;
  margin-left: 8%;
  margin-right: 8%;

}

h2 a{
  color: #724C4C
}


.footerstuff {
  display: inline-block;
  vertical-align: middle;
}